apiVersion: apps/v1
kind: Deployment
metadata:
  name: horario-escolar-nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: horario-escolar-nginx
  template:
    metadata:
      labels:
        app: horario-escolar-nginx
    spec:
      containers:
        - name: nginx
          image: nginx:alpine
          ports:
            - containerPort: 80
          volumeMounts:
            - name: nginx-config
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
      volumes:
        - name: nginx-config
          configMap:
            name: nginx-config
---
apiVersion: v1
kind: Service
metadata:
  name: horario-escolar-nginx
spec:
  selector:
    app: horario-escolar-nginx
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
